---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - k8s.gezb.co.uk
  resources:
  - nodedrains
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.gezb.co.uk
  resources:
  - nodedrains/finalizers
  verbs:
  - update
- apiGroups:
  - k8s.gezb.co.uk
  resources:
  - nodedrains/status
  verbs:
  - get
  - patch
  - update
