---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.1
  name: drainchecks.k8s.gezb.co.uk
spec:
  group: k8s.gezb.co.uk
  names:
    kind: DrainCheck
    listKind: DrainCheckList
    plural: drainchecks
    singular: draincheck
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: DrainCheck is the Schema for the drainchecks API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: DrainCheckSpec defines the desired state of DrainCheck.
            properties:
              podregex:
                description: PodRegex is a regex that matches pods that should block
                  the draining of nodes
                type: string
            type: object
          status:
            description: DrainCheckStatus defines the observed state of DrainCheck.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
